
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    
}
.padding_0{
    padding: 0px;
}
    
.clear{
    margin-top:30px;
    margin-bottom:30px;
}
nav#header_top {
    background: #232F3E;

}
a.navbar-brand i.fas.fa-phone {
    color: #fff;
    padding: 0px 10px;
}

#header_top span {
    color: #f15b2c;
    font-weight: bold;
    font-size: 15px;
}

ul.navbar-nav.ml-auto.a {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 254, 254, 0.9);
    font-size: 19px;
    border-right: 2px solid #fff;
    /* height: 33px; */
    line-height: 15px;
    padding: 3px 24px;
    font-size: 15px;
    font-weight: 500;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.7);
}
button.btn.btn-secondary {
    background: #232F3E;
    border: 1px solid #fff;
    font-size: 14px;
    padding: 0px 15px;
}
a#navbarDropdown {
    border: none;
}
.logo img {
    width: 100%;
    margin: 5px;
    padding: 0px 22px;
}

div#header_midell {
    padding: 24px 20px;
}
input.form-control {
    padding: 20px 20px;
}

#header_midell button.btn.btn-secondary {
    padding: 0px 39px;
}

i.fa.fa-search {
    font-size: 31px;
}

li.nav-item a {
    font-size: 12px;
    padding: 8px 7px;
}

li.nav-item {
    padding: 1px 1px;
}
i.fa.fa-heart {
    font-size: 30px;
    padding: 10px 13px;
    color: #232F3E;
}

i.fas.fa-cart-arrow-down {
    font-size: 34px;
    padding: 10px 13px;
    color: #232F3E;
}

div#header_midell button.btn.btn-secondary {
    background: #f15b2c;
    border: 1px solid #f15b2c;
    font-size: 10px;
}
div#header_midell span{
    color:#232F3E;
}
div#header_midell ul p {
    padding: 13px 0px;
}

.hr {
    background: #35A3D3;
    height: 2px;
}
button.btn.btn-light {
    padding: 2px 8px;
    font-size: 15px;
}

.sidebar-nav {
    height:auto;
    list-style:none;
    width: 100%;
}

.sidebar-nav li {
    height: 25px;
    margin: 0;
    padding: 5px 0;
    border: none;
    text-align: left;
    display: inline-block;
    float: left;
    clear:both;
    width: 50%;
}
.sidebar-nav li a {
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:13px;
    text-decoration:none;
}

.sidebar-nav li ul {
    display: none;
    margin-top: 10px;
    padding: 0;
}

.sidebar-nav li:hover ul {
    display: block;
}
.sidebar-nav li:hover .sidebar-sub-menu {
    position: relative;   
    margin-top: -27.5px;
}

.sidebar-sub-menu li {
    position: relative;
    display: block;
    top: 0;
    left:90%;
    width: 100%;
    min-width: 180px;
    white-space: nowrap;
    z-index:1;
}
.carousel-item img {
    width: 100%;
    height: 300px;
}



/* sidebar */

div#main_containt {
    padding: 0;
}

div#sidebar {
    padding: 0;
    position: relative;
}

/* sidebar hover */


ul.btn-group {
    position: absolute;
    z-index: 1;
    background: #f15b2c;

    top: 0;
}

div#main_containt ul {
    list-style: none;
    text-align: center;
}

div#main_containt li {
    border-bottom: 2px solid #fff;
}

div#main_containt li a {
    border-bottom: 2px #fff;
    color: #fff;
    text-align: center;
}
div#sidebar {
    background: #f15b2c;
    z-index: 1;
}
div#main_containt {
    /* min-width: 953px; */
    width: 1142px;
    margin: 0 auto;
}

div#slider2 {
    padding: 0px;
}
/* product slider-1 */
/* section#main_sectiona.nav-link.active a {
    background: #3498db;
    color: #fff;
    text-align: center;
    font-size: 20px;
} */

section#main_section li.nav-item {
    font-size: 10px;
    text-align: center;
}
li#extra {
    background: #0abde3;
}

section#main_section a.nav-link {
    color: #000;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

section#main_section .li.nav-item {
    padding: 0px;
    margin:  0px;
}

/* product slider */
.card {
    float: left;
    width: 196px;
    height: 210px;
    margin: 4px 5px;
}

/* card hover */
.card:hover{
    box-shadow: 1px 2px 5px 1px #888888;
    border: none;
}
.card-body p {
    text-align: center;
    color: red;
}
.card-body h6 {
    font-size: 12px;
    text-align: center;
}
